<div class="itineraries-list">
  {{#each itineraries as |itinerary|}}
    {{partial "itinerary-list-item"}}
  {{else}}
  <div class="error alert alert-info">
    This route is not in our database yet
  </div>
  {{/each}}
</div>
