<div class="itinerary card" id="itinerary-{{itinerary.id}}" {{action "itemHovered" itinerary on="mouseEnter"}}>
  <div class="card-block">
    <p class="card-test">{{itinerary.title}}</p>
  </div>
</div>
