<div class="form-group">
  <label for="address">{{addressLabel}}
    <span class="required">*</span>
    <small id="addressHelp" class="form-text text-muted">
      or enter it in the field below
    </small>
  </label>

  {{place-autocomplete-field
  value=_addressValue
  handlerController= this
  inputClass="form-control"
  placeChangedCallback='addressChanged'
  placeholder="23 Sukhumvit Road, Bangkok, Thailand"
  aria-describedby="addressHelp"
  }}
</div>
