<div class="form-group">
  <label for="comment">{{commentLabel}}</label>
  {{textarea
  class="form-control"
  rows="3"
  placeholder="In front of a Night Market; Near the police station; By the Buddha statue"
  value=comment
  }}
  <div class="form-text">
    <a href="#" {{action "toggleAddress" on='click'}}>
      Let me try to search for an address again
    </a>
  </div>
</div>
