/*
 * Base structure
 */
$bg-color: #333;

html,
body {
  height: 100%;
}
body {
  color: #fff;
  background-color: $bg-color;
  text-align: left;
}

nav.bg-inverse {
  background-color: $bg-color !important;
}

/*
 * Import things
 */
@import 'index.scss';
@import 'itineraries.scss';
@import 'routes-new.scss';
@import 'about.scss';
