.display-itineraries {
  color: #000;

  a {
    color: #014c8c;
  }
  a:hover, a:focus {
    color: #0275d8;
  }
}
.itineraries-map {
  height:100%;
}
.itineraries-map-container {
  position: absolute;
  right: 0;
  top: 7em;
  bottom: 0;
  padding: 0;
}
.itineraries-map-container > div {
  height: 100%;
}
.itineraries-list-container {
  background-color: #fff;
  padding: 0;
  position: absolute;
  top: 7em;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: block;
}

.itinerary-details-container {
  @extend .itineraries-list-container;
  .back-button {
    cursor: pointer;
  }
}
.itinerary-details-container.hidden {
  left: -33.33333%;
}

.rotue-details-container {
  @extend .itineraries-list-container;
  .back-button {
    cursor: pointer;
  }
}
.rotue-details-container.hidden {
  @extend .itinerary-details-container.hidden;
}

.ember-cli-g-map {
  height: 100%;
}
.itinerary, .route {
  margin: 0;
  border-radius: 0;
  border-top-width: 0;
  cursor: pointer;
}
.itinerary.selected, .route.selected {
  background-color: #eee;
}
