<div class="contacts-modal modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#if text}}
        <p>{{text}}</p>
        {{else}}
        <p>Looks like you enjoy our beautiful website!
        Please leave us your contacts so we can keep you
        up-to-date with new features.
        <br>
        <br>Since this is a demo version, we don't actually
        store any of your data anywhere. However, if you login
        with Facebook, our app will gain access to your public
        profile until you delete it in your Facebook settings.
        </p>
        {{/if}}
        <div class="social">
          {{auth-facebook authComplete=(action "authComplete")}}
        </div>
        <p>or just leave us your email</p>
        {{auth-form-short authComplete=(action "authComplete")}}
      </div>
    </div>
  </div>
</div>
