<div class="form-inline">
  <div class="form-group first">
    <label class="sr-only" for="from-wrapper">From City</label>
    {{place-autocomplete-field
    value=fromCity
    handlerController=this
    inputClass="form-control"
    id="from-wrapper"
    placeChangedCallback='fromChanged'
    placeholder="From City"
    }}
  </div>
  <div class="form-group">
    <label class="sr-only" for="to">To City</label>
    {{place-autocomplete-field
    value=toCity
    handlerController=this
    inputClass="form-control"
    id="to-wrapper"
    placeChangedCallback='toChanged'
    placeholder="To City"
    }}
  </div>
  {{{if inline "" "<br>"}}}
  <button type="submit" class="btn btn-secondary" {{ action "search" }}>Search</button>
</div>
