<form class="form-inline">
  {{#if inline}}
  {{else}}
    <div class="form-group first">
      <label class="sr-only" for="from-wrapper">From City</label>
      {{place-autocomplete-field
      value=from_input
      handlerController=this
      inputClass="form-control form-control-lg"
      id="from-wrapper"
      placeChangedCallback='fromChanged'
      types='(cities)'
      placeholder="From City"
      }}
    </div>
    <div class="form-group">
      <label class="sr-only" for="to">To City</label>
      {{place-autocomplete-field
      value=to_input
      handlerController=this
      inputClass="form-control form-control-lg"
      id="to-wrapper"
      placeChangedCallback='toChanged'
      types='(cities)'
      placeholder="To City"
      }}
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-secondary" {{ action "search" }}>Search</button>
  {{/if}}
</form>
