<div class="form-inline">
  <div class="form-group first">
    <label class="sr-only" for="from-wrapper">From City</label>
    {{location-autocomplete
    id="from-wrapper"
    value=from
    filter=(action "filterLocations")
    select=(action "selectFrom")
    }}
  </div>
  <div class="form-group">
    <label class="sr-only" for="to">To City</label>
    {{location-autocomplete
    id="to-wrapper"
    value=to
    filter=(action "filterLocations")
    select=(action "selectTo")
    }}
  </div>
  {{{if inline "" "<br>"}}}
  <button type="submit" class="btn btn-secondary" {{ action "search" }}>Search</button>
</div>
