{{place-autocomplete-field
    handlerController=this
    inputClass="form-control form-control"
    placeChangedCallback='cityChanged'
    types='(cities)'
}}

<button {{action "next"}}>Next</button>
