{{render "navigation"}}
<div class="container-fluid route-form-container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Add a route</h1>
      {{create-new-route newRoute=model createRoute=(action "createRoute")}}
    </div>
  </div>
</div><!-- /.container -->
