{{#each itineraries as |itinerary|}}
  {{itinerary-short
  itinerary=itinerary
  click=(action "itemClicked" itinerary)
  mouseEnter=(action "itemHovered" itinerary)
  }}
{{else}}
  <div class="error alert alert-info">
    This route is not in our database yet
  </div>
{{/each}}
