{{#each itineraries as |itinerary|}}
  {{itinerary-short
  itinerary=itinerary
  click=(action "itemClicked" itinerary)
  mouseEnter=(action "itemHovered" itinerary)
  }}
{{else}}
  <div class="error alert alert-info">
    {{#if showDirectOnly}}
      There are no direct routes for this search query
    {{else}}
      This route is not in our database yet
    {{/if}}
  </div>
{{/each}}
