{{#each itineraries as |itinerary|}}
  {{itinerary-list-item
  itinerary=itinerary
  selectedItinerary=selectedItinerary
  click=(action "itemClicked" itinerary)
  mouseEnter=(action "itemHovered" itinerary)
  }}
{{else}}
  <div class="error alert alert-info">
    {{#if showDirectOnly}}
      There are no direct routes for this search query
    {{else}}
      We couldn't find any routes for your request
    {{/if}}
  </div>
{{/each}}
