<div class="form-group">
  <label for="address">{{addressLabel}}
    <small id="addressHelp" class="form-text text-muted">
      or enter it in the field below
    </small>
  </label>

  {{place-autocomplete-field
  value=addressText
  handlerController=this
  inputClass="form-control"
  placeChangedCallback='addressChanged'
  types='address'
  restrictions=countryRestriction
  placeholder="23 Sukhumvit Road, Bangkok, Thailand"
  aria-describedby="addressHelp"
  }}
  <div class="form-text">
    <a href="#" {{action "toggleAddress" on='click'}}>
      {{subAddressLabel}}
    </a>
  </div>
</div>
