{{itinerary-summary itinerary=itinerary}}

<div class="route-list">
  {{#each itinerary.routes as |route|}}
    {{routes-list-item
    route=route
    routeHovered=routeHovered
    click=(action "routeClicked" route)
    mouseEnter=(action "routeHovered" route)
    }}
  {{/each}}
</div>
