{{itineraries-list-item itinerary=itinerary}}

<div class="route-list">
  {{#each itinerary.routes as |route|}}
    <div class="route-item" id="route-{{route.id}}">
      <div class="path">
        <span>&nbsp;</span>
      </div>
      <div class="route-container">
        {{route-short
        route=route
        click=(action "routeClicked" route)
        mouseEnter=(action "routeHovered" route)
        }}
      </div>
    </div>
  {{/each}}
</div>
