<div class="left-side">
  {{#if shortForm}}
    {{create-new-route-short-form
    newRoute=newRoute
    locations=locations
    currentStep=currentStep
    registerChild=(action 'registerChild' 'short-form')
    submit=(action 'submit')
    resetForm=(action "resetForm")
    }}
  {{else}}
    {{create-new-route-carousel-form
    newRoute=newRoute
    locations=locations
    currentStep=currentStep
    registerChild=(action 'registerChild' 'carousel-form')
    submit=(action 'submit')
    resetForm=(action "resetForm")
    }}
  {{/if}}
</div>
<div class="right-side">
  {{create-new-route-map
  locations=locations
  currentStep=currentStep
  registerChild=(action 'registerChild' 'map')
  }}
</div>
