<div class="left-side">
  {{create-new-route-carousel-form
  newRoute=newRoute
  locations=locations
  currentStep=currentStep
  registerChild=(action 'registerChild' 'carousel-form')
  submit=(action 'submit')
  resetForm=(action "resetForm")
  }}
</div>
<div class="right-side">
  {{create-new-route-map
  locations=locations
  currentStep=currentStep
  registerChild=(action 'registerChild' 'map')
  }}
</div>
