{{#if media.isMobile}}
  <div class="add-route-mobile">
    <div class="alert alert-warning">
      Sorry, adding routes is not optimised for smartphones yet. Please try from a larger screen.
    </div>
  </div>
{{else}}
  <div class="left-side">
    {{create-new-route-carousel-form
    newRoute=newRoute
    locations=locations
    currentStep=currentStep
    submit=(action 'submit')
    resetForm=(action "resetForm")
    onCountryChanged=(action "onCountryChanged")
    errorMessage=errorMessage
    showSpinner=showSpinner
    countries=countries
    }}
  </div>
  <div class="right-side">
    {{create-new-route-map
    locations=locations
    currentStep=currentStep
    mapClicked=(action 'mapClicked')
    }}
  </div>

{{/if}}
