{{input
classNames="form-control"
value=value
autocomplete=off
spellcheck=off
input=(action 'handleInput')
focusIn=(action 'focusInput')
focusOut=(action 'blurInput')}}
{{#if showSuggestions}}
  <div class="suggestions">
    <ul>
      {{#each suggestions as |sugg|}}
        <li {{action 'selectSuggestion' sugg on="click"}}>
          <a tabindex='-1' href="#!">{{sugg.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
