<div class="input-wrapper">
  {{input
  classNames="form-control"
  value=value
  autocomplete="off"
  spellcheck=false
  input=(action 'handleInput')
  focusIn=(action 'focusInput')
  focusOut=(action 'blurInput')
  placeholder=placeholder
  }}
  <div class="input-button" {{action 'clear' on='click'}}>&times;</div>
</div>

{{location-autocomplete-suggestions
suggestions=suggestions
isLoading=isLoading
show=showSuggestions
selectSuggestion=(action "selectSuggestion")
noMatchesSuggestion=noMatchesSuggestion
}}
