{{input
classNames="form-control"
value=value
autocomplete=off
spellcheck=off
input=(action 'handleInput')
focusIn=(action 'focusInput')
focusOut=(action 'blurInput')
}}
{{#if showSuggestions}}
  <div class="suggestions">
    <ul>
      {{#each suggestions as |sugg index|}}
        <li {{action 'selectSuggestion' sugg on="click"}}>
          <a tabindex='-1' href="#!" data-index={{index}}>{{sugg.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
