{{input
classNames="form-control"
value=value
autocomplete=off
spellcheck=off
key-up=(action 'handleInput')}}
{{#if valueLongEnough}}
  <div class="suggestions">
    <ul>
      {{#each suggestions as |sugg|}}
        <li><a href="#!">{{sugg.name}}</a></li>
      {{else}}
        <li class="disabled"><a>No locations found</a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}
