{{input
classNames="form-control"
value=value
autocomplete=off
spellcheck=off
key-up=(action 'handleInput')}}
{{#if hasSuggestions}}
  <div class="suggestions">
    <ul>
      {{#each suggestions as |sugg|}}
        <li {{action 'selectSuggestion' sugg on="click"}}>
          <a href="#!">{{sugg.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
