<div class="row welcome">
  <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8
    offset-lg-2 col-xl-6 offset-xl-3 message">
    <h1>Greetings!</h1>


    <p>This website was an attempt to create a travel service
    which would help people find buses, ferries, trains and
    other ways of transportation all over Asia.</p>

    <p>While working on it we failed to find any kind of
    financing (or interested users for that matter) and
    decided to stop working on the project. I was developing
    the frontend part of the service, and since it was in a
    pretty good working condition, I decided to clean it up
    and host it as a part of my portfolio.</p>

    <p>It is developed using
      <a href="https://www.emberjs.com/" target="_blank">Ember.js</a>
      framework and
      <a href="https://v4-alpha.getbootstrap.com/" target="_blank">Bootstrap 4</a>
      as a HTML/CSS framework. Everything is hosted on Firebase.
      You can check out the source code on
      <a href="https://github.com/jetpackpony/a2b-frontend" target="_blank">GitHub</a>.
    </p>

    <p>This is just a frontend single page application.
    Originally backend API was developed by another human,
    but he since took it down, so at the moment it is using
    Mirage Ember to mock a backend API.</p>

    <p>Feel free to look around and try everything.
    If you find any issues or just want to say hi, feel
    free to contact me at:
    <a href="mailto:jetpackpony@gmail.com" target="_blank">jetpackpony@gmail.com</a>.</p>
  </div>
</div>
