<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">a2b</h3>
    <nav class="nav nav-masthead">
      {{#link-to 'index' classNames="nav-link"}}Home{{/link-to}}
      {{#link-to 'routes.new' classNames="nav-link"}}Add Route{{/link-to}}
      {{#link-to 'about' classNames="nav-link"}}About{{/link-to}}
    </nav>
  </div>
</div>
