<div class="row search">
  <div class="col-xs-12">
    <div class="form-container">
      <h1>Get from point A to point B</h1>
      <p class="lead">
        Search thousands of ways to get from one city to another. Just enter origin and destination and click search:
        <br>
        <small>(only available in Cambodia at the moment)</small>
      </p>
      {{search-route-form
      submitSearch=(action 'search')
      showSpinner=showSpinner
      }}
      <p class="lead">or share what you know about the different ways to travel around Southeast Asia:</p>
      {{#link-to 'routes.new' tagName='button' classNames="btn btn-lg btn-secondary"}}
        Add a Route
      {{/link-to}}
    </div>
  </div>
</div>
