<div class="row mini-search">
  <div class="col-xs-12">
    {{search-route-form
    from=model.from
    to=model.to
    submitSearch=(action 'search')
    inline=true
    showSpinner=showSpinner
    }}
  </div>
</div>
{{display-itineraries
itineraries=sortedItineraries
formFilled=formFilled}}
