<div class="row mini-search">
  <div class="col-xs-12">
    {{search-route-form
    from=fromCity
    to=toCity
    submitSearch=(action 'search')
    inline=true
    }}
  </div>
</div>
{{display-itineraries itineraries=sortedItineraries formFilled=formFilled}}
