<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">a2b</a>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      {{#link-to 'index' classNames="nav-link"}}Home{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'routes.new' classNames="nav-link"}}Add Route{{/link-to}}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>
