<nav class="navbar navbar-full">
  {{#link-to 'index' classNames="navbar-brand"}}
    <img src="/assets/images/a2b-logo-min.png" alt="A2B Logo">
  {{/link-to}}
  <div class="nav navbar-nav float-xs-right">
    {{#link-to 'index' classNames="nav-item nav-link"}}Home{{/link-to}}
    {{#link-to 'itineraries' classNames="nav-item nav-link"}}Search{{/link-to}}
    {{#link-to 'routes.new' classNames="nav-item nav-link"}}Add Route{{/link-to}}
    {{#link-to 'about' classNames="nav-item nav-link"}}About{{/link-to}}
  </div>
</nav>
